@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .text-2xs{
    font-size:10px;
    line-height: 12px;
  }
  .bg-0D47A1{
    background-color:#0D47A1;
  }
  .bg-one{
    background-color:#0D47A1;
  }
  .text-0D47A1{
    color: #0D47A1;
  }
  .text-one{
    color: #0D47A1;
  }
  .border-1{
    border-width: 1.5px;
  }
  .bg-60c5da{
    background-color: #60c5da;
  }
  .border-0D47A1{
    border-color: #0D47A1;
  }
    .border-one{
    border-color: #0D47A1;
  }
  .bg-D4F1F4{
    background-color: #D4F1F4;
  }
  .text-ellipsis1{
    text-overflow: ellipsis;
  }
  .bg-5E5BFF{
    background-color: #5E5BFF;
  }
    .bg-076b7f{
    background-color: #076b7f;
  }
  .bg-activate{
    @apply bg-D4F1F4 w-16 h-14 rounded-lg flex justify-center items-center transition-all
  }
  .transition-menu{
    transition: all 0.5s;
    
  }

  .outline-one{
     outline: #0D47A1;
  }
  .bg-two{
    background-color: #5E5BFF;
  }
  .text-two{
    color: #5E5BFF;
  }
  .border-two{
    border-color: #5E5BFF;
  }
  .bg-activate1{
    @apply bg-D4F1F4 w-48 h-10 flex  items-center pl-4
  }
  .information{
    @apply w-full px-4 py-2 bg-white outline-none border-1 border-two h-10
  }
  .information-label{
    @apply h-10 flex items-center font-semibold text-lg
  }
  .choose{
    @apply px-4 h-8 items-center flex justify-center rounded-full
  }
  #body-data{
    background-image: url('./Image/ImageBody1.png');
  }
  .choosed{
    @apply shadow-xl bg-slate-200
  }
  .transition-smooth{
    transition: all 0.5s linear;
  }
  .text-menu{
    @apply font-semibold ml-4
  }
  .w-card{
    width: 500px;
  }

  #choose input:checked + label{
    @apply choosed transition-all
  }
}
#popular-category::-webkit-scrollbar-thumb{
   @apply bg-one pt-5 mt-6 left-96
   
   
}
::-webkit-scrollbar{
  width: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
  .transition-menubar{
   
    transition-duration: 1s;
    animation: animationHeaderBar 1s linear 1;
  }
@keyframes animationHeaderBar{
  0% {
    transform: translateY(-96px);
  }
    100% {
        transform: translateY(0px);
    }
}
