@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  .bg-0D47A1{
    background-color:#0D47A1;
  }
  .bg-one{
    background-color:#0D47A1;
  }
  .text-0D47A1{
    color: #0D47A1;
  }
  .text-one{
    color: #0D47A1;
  }
  .bg-60c5da{
    background-color: #60c5da;
  }
  .border-0D47A1{
    border-color: #0D47A1;
  }
    .border-one{
    border-color: #0D47A1;
  }
  .bg-D4F1F4{
    background-color: #D4F1F4;
  }
  .text-ellipsis1{
    text-overflow: ellipsis;
  }
  .bg-5E5BFF{
    background-color: #5E5BFF;
  }
    .bg-076b7f{
    background-color: #076b7f;
  }
  .bg-activate{
    @apply bg-D4F1F4 w-16 h-14 rounded-lg flex justify-center items-center transition-all
  }
  .bg-activate1{
    @apply bg-D4F1F4 w-48 h-10 flex  items-center pl-4
  }
  .choose{
    @apply px-4 h-8 items-center flex justify-center rounded-full
  }
  #body-data{
    background-image: url('./Image/ImageBody1.png');
  }
  .choosed{
    @apply shadow-xl bg-slate-200
  }
  .transition-smooth{
    transition: all 0.5s linear;
  }
  .text-menu{
    @apply font-semibold ml-4
  }
  .w-card{
    width: 500px;
  }
  .menubar{
   
  }
  #choose input:checked + label{
    @apply choosed transition-all
  }
}
::-webkit-scrollbar{
  width: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@media screen and (min-width: 768px){

}